

ul {
  list-style: none; /* прибрати точки (маркери) */
  margin: 0;        /* прибрати зовнішній відступ */
  padding: 0;       /* прибрати внутрішній відступ */
}



.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    gap: 24px;
    column-gap: 48px;
    margin: 0 auto;
    list-style-type: none;
    

}

.gallery-item {
    width: 360px;
    display: flex;             
    justify-content: center;   
    align-items: center;
}

